body { 
    font-family: 'Montserrat', sans-serif;
  }
  
ul {
  list-style-type: none;
  overflow: hidden;
  margin-right: 40px;
  
}

li {
  float: right;
  display: block;
  padding: 8px;
  
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

.slide {
  animation-name: slide;
  animation-duration: 2s;
  visibility: visible;
  width: 100%;
  overflow: hidden;
  animation-fill-mode: forwards;
}
/*
.slide p {
  animation: slide 6s;
  animation-fill-mode: forwards;
} */

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: 25%;
  }
  100% {
    opacity: 1;
    margin-left: 45%;
  }
}

.parallax {
  height: 450px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




